In [ ]:
!pip install mysql-connector-python

In [2]:
!pip install tabulate

Collecting tabulate
  Downloading tabulate-0.9.0-py3-none-any.whl.metadata (34 kB)
Downloading tabulate-0.9.0-py3-none-any.whl (35 kB)
Installing collected packages: tabulate
Successfully installed tabulate-0.9.0

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
import mysql.connector
mydb = mysql.connector.connect(
 host="your_rds_host_string",
 user="username",
 password="user_password",)

print(mydb)
mycursor = mydb.cursor(buffered=True)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000245E8F34E00>

In [2]:
mycursor.execute("SHOW DATABASES")
for i in mycursor:
    print(i)

('guvi',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)

In [8]:
mycursor.execute("CREATE DATABASE guvi")

In [3]:
mycursor.execute("USE guvi")

In [7]:
mycursor.execute("DROP TABLE final_table")

In [12]:
mycursor.execute("CREATE TABLE final_table (Order_ID VARCHAR(50), Customer_ID VARCHAR(10), Product_ID VARCHAR(20), Order_Date VARCHAR(30), Return_Reason VARCHAR(60), Return_Date VARCHAR(20))")

In [4]:
mycursor.execute("SELECT * FROM final_table")
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

+------------+---------------+--------------+--------------+-----------------+---------------+
| Order_ID   | Customer_ID   | Product_ID   | Order_Date   | Return_Reason   | Return_Date   |
|------------+---------------+--------------+--------------+-----------------+---------------|
| O116       | C004          | P001         | 2023-08-12   | Changed Mind    | 2023-08-12    |
| O111       | C003          | P002         | 2023-08-08   | Defective       | 2023-08-08    |
| O101       | C001          | P001         | 2023-08-01   |                 |               |
| O120       | C004          | P002         | 2023-08-15   | Changed Mind    | 2023-08-15    |
| O106       | C002          | P003         | 2023-08-05   |                 |               |
| O108       | C004          | P002         | 2023-08-06   | Wrong Item      | 2023-08-06    |
| O117       | C001          | P002         | 2023-08-13   | Wrong Item      | 2023-08-13    |
| O118       | C002          | P003         | 2023-08-14   |                 |               |
| O115       | C003          | P003         | 2023-08-11   |                 |               |
| O110       | C002          | P001         | 2023-08-07   | Changed Mind    | 2023-08-07    |
| O105       | C001          | P002         | 2023-08-04   |                 |               |
| O109       | C001          | P003         | 2023-08-06   |                 |               |
| O113       | C001          | P001         | 2023-08-10   |                 |               |
| O114       | C002          | P002         | 2023-08-11   | Defective       | 2023-08-11    |
| O102       | C002          | P002         | 2023-08-02   |                 |               |
| O107       | C003          | P001         | 2023-08-05   |                 |               |
| O103       | C003          | P003         | 2023-08-02   |                 |               |
| O119       | C003          | P001         | 2023-08-14   | Defective       | 2023-08-14    |
| O112       | C004          | P003         | 2023-08-09   | Wrong Item      | 2023-08-09    |
| O104       | C004          | P001         | 2023-08-03   | Defective       | 2023-08-03    |
+------------+---------------+--------------+--------------+-----------------+---------------+

In [6]:
mycursor.execute("INSERT INTO final_table (Order_ID, Customer_ID, Product_ID, Order_Date, Return_Reason, Return_Date) VALUES ('1234', '2765', '023', '02-03-2024', 'wrong product', '08-03-2024')")

In [28]:
mycursor.execute("DELETE FROM final_table")